<article class="platform-card" role="listitem">
  <a class="platform-card_link" data-ref="link" data-link>

    <div class="platform-card_img-wrapper" data-ref="img-wrapper">
      <img
        class="platform-card_img"
        data-ref="image"
        loading="lazy"
      />

      <div class="platform-card_overlay"></div>

      <div class="platform-card_info-overlay">
        <h2 class="platform-card_name" data-ref="name"></h2>
        <p class="platform-card_count" data-ref="count"></p>
      </div>
    </div>

  </a>
</article>