<header id="header">
  <nav id="nav-bar">
    <div class="navbar-brand">
      <img src="/public/assets/logo.png" class="navbar-img" alt="Logo" />
      <span class="navbar-name">GameBox</span>
    </div>
    <div class="navbar-links">
      <a class="navbar-link" href="/home">Home</a>
      <a class="navbar-link" href="/search">Search</a>
      <a class="navbar-link" href="/favorites">Favorites</a>
      <a class="navbar-link" href="/history">History</a>
      <a class="navbar-link" href="/contact">Contact</a>
    </div>
  </nav>
</header>