<footer class="footer">
  <ul class="footer-ul">        
    <li class="footer-li">
      <a class="footer-a" href="/home">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/public/assets/home.png" alt="Home">
        </div>
        <span class="footer-font">Home</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/search">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/public/assets/search.png" alt="Search">
        </div>
        <span class="footer-font">Search</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/favorites">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/public/assets/favorite.png" alt="Favorites">
        </div>
        <span class="footer-font">Favorites</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/history">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/public/assets/history.png" alt="History">
        </div>
        <span class="footer-font">History</span>
      </a>
    </li>                
  </ul>
</footer>