<footer class="footer">
  <ul class="footer-ul">    
    <li class="footer-li">
      <a class="footer-a" href="/home">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/assets/home.png" alt="Home">
        </div>
        <span class="footer-font">Home</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/search">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/assets/search.png" alt="Search">
        </div>
        <span class="footer-font">Search</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/favorites">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/assets/favorite.png" alt="Favorites">
        </div>
        <span class="footer-font">Favorites</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/history">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/assets/history.png" alt="History">
        </div>
        <span class="footer-font">History</span>
      </a>
    </li>
    <li class="footer-li">
      <a class="footer-a" href="/contact">
        <div class="footer-icon-wrapper">
          <img class="footer-img" src="/assets/phone.png" alt="Contact">
        </div>
        <span class="footer-font">Contact</span>
      </a>
    </li>
  </ul>
  <div class="footer-info">
    <p class="footer-info-copy">&copy; <span class="footer-year"></span> GameBox. All rights reserved.</p>
  </div>
</footer>