<template id="filter-panel-template">
  <div class="filter-panel">
    <select class="filter-panel-select" data-ref="genre">
      <option value="">All genres</option>
    </select>
    <select class="filter-panel-select" data-ref="store">
      <option value="">All stores</option>
    </select>
    <select class="filter-panel-select" data-ref="platform">
      <option value="">All platforms</option>
    </select>
    <select class="filter-panel-select" data-ref="ordering">
      <option value="">Sort: default</option>
      <option value="name">Name A-Z</option>
      <option value="-name">Name Z-A</option>
    </select>
  </div>
</template>