.game-description {
  position: relative;
  display: flex;
  flex-direction: column;
}

.description-text {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.game-description.expanded .description-text {
  -webkit-line-clamp: unset;
  display: block;
}

.read-more {
  margin-top: 8px;
  display: block;
  background: none;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
  font-weight: 600;
  margin-left: auto;
}
