<template id="skeleton-card-template">
  <article class="skeleton-card">
    <div class="skeleton-img"></div>
    <div class="skeleton-body">
      <div class="skeleton-body-info">
        <div class="skeleton-line skeleton-line--title"></div>
        <div class="skeleton-line skeleton-line--genre"></div>
      </div>
      <div class="skeleton-body-footer">
        <div class="skeleton-line skeleton-line--rating"></div>
        <div class="skeleton-line skeleton-line--btn"></div>
      </div>
    </div>
  </article>
</template>

<template id="skeleton-card-wide-template">
  <article class="skeleton-card skeleton-card--wide">
    <div class="skeleton-img skeleton-img--wide"></div>
  </article>
</template>